$primary-color: rgb(7, 72, 74);
$background-color: #FDFBF8;
$secondary-color: rgb(112, 144, 139);
$font-family: 'Roboto', sans-serif;
$home-font-family: 'Playfair Display';
$input-border-color: #4A7C74;
$border-radius: 5px;